<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,64},{39,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{39,54}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>opp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{39,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{39,54}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>oppchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{67,60}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opponent.png</string>
            <key>size</key>
            <string>{84,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ba818924dcae2940cf2ada727cace3$</string>
            <key>textureFileName</key>
            <string>opponent.png</string>
        </dict>
    </dict>
</plist>
